<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<div class="row">
		<div class="col-md-12">
			<%= f.label :title %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7 col-lg-4">
			<%= f.text_field :title, { :class=> 'form-control' } %>
		</div>
	</div>
  </div>
  <div class="field">
	<div class="row">
		<div class="col-md-12">
			<%= f.label :body %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7 col-lg-4">
			<%= f.text_area :body, { :class=> 'form-control' } %>
		</div>
	</div>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
