<div class="row" style="padding:15px;background:#ccc;">
	<div class="col-md-12">
		<h1>Blog Posts</h1>
	</div>
</div>
<div class="row" style="padding:15px;background:#ccc;margin-left:30px;margin-right:30px;">
	<div class="col-md-12">
		<%= button_to 'New Post', new_post_path, { :class=> 'btn btn-success', :method => 'get' } %>
	</div>
</div>
<% @posts.each do |post| %>
	<div style="padding:15px;background:#ccc;margin-bottom:15px;">
		<div class="row">
			<div class="col-md-12">
				<h3>Post Title:</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= post.title %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Post Body:</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= post.body %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<%= button_to 'Show', post, { :class=> 'btn btn-primary', :method => 'get' } %>
			</div>
			<div class="col-md-1">
				<%= button_to 'Edit', edit_post_path(post), { :class=> 'btn btn-default', :method => 'get' } %>
			</div>
			<div class="col-md-1">
				<%= button_to 'Destroy', post, :class=> 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
		</div>
	</div>
<% end %>
