<div style="padding:15px;background:#ccc;">
	<div class="row">
		<div class="col-md-12">
			<%= notice %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>Post Title:</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= @post.title %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>Post Body:</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= @post.body %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>Comments</h3>
		</div>
	</div>
	<div id="comments">
	<% @post.comments.each do |comment| %>
		<%= div_for comment do %>
		<p>
			<strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br />
			<%= h(comment.body) %>
		</p>
		<% end %>
	<% end %>
	</div>

	<%= form_for([@post, Comment.new], remote: true) do |f| %>
		<div class="row">
			<div class="col-md-8 col-lg-4">
				<%= f.label :body, "New Comment" %><br />
				<%= f.text_area :body, { :class=> 'form-control' } %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<%= f.submit "Add Comment", { :class=> 'btn btn-success' } %>
			</div>
		</div>
	<% end %>

	<div class="row" style="margin-top:15px;">
		<div class="col-md-1">
			<%= button_to 'Edit', edit_post_path(@post), { :class=> 'btn btn-primary', :method => 'get' } %>
		</div>
		<div class="col-md-1">
			<%= button_to 'Back', posts_path, { :class=> 'btn btn-default', :method => 'get' } %>
		</div>
	</div>
</div>